<%- include("./partials/header"); -%>
<div id="view-shadow-slots">
<h1>Controls</h1>
<hr><br />
<form class="" action="/admin-newAccounts" method="post">
  <h4>Create New Accounts</h4><br />
  <label>New Student Users: (email///password///group###)</label>
  <input type="text" name="uploadUsers">
  <br /><br />
  <label>New Admin: (First///Last///email///password###)</label>
  <input type="text" name="uploadAdmins">
  <br />  <br />
  <button type="submit" class="btn" name="button">Update</button>
</form>
<br /><br />
<hr /><br />
<form action="/admin-matchSettings" method="post">
  <h4>Match Settings</h4><br/>
  <label>Max Slots Per Student:</label>
  <input type="number" name="maxSlots" value=<%=maxSlots%>>
  <br /><br />

  <label>Matching allowed for: (Year/session joined, grad year)</label>
  <br />
  <% for(let i = 0; i<allGroups.length; i++){%>
    <% var boxStatus = "";%>
    <% allGroups[i][1] ? boxStatus = "checked" : null %>
    <!-- Insert: if group is already allowed, set to checked-->
    <input type="checkbox" name="<%=allGroups[i][0]%>" <%=boxStatus%>>
    <%=allGroups[i][0] %>
    <br />
  <% } %>
  <br />
  <button type="submit" name="button" class="btn">Update Access</button>
</form>
<br /><br /><hr><br />
<form class="" action="/admin-emails" method="post">
  <h4>Automatic Emails</h4><br />
  <button type="submit" name="button" class="btn">Get String</button>
</form>
<br /><hr><br />

<h1 id="shadow-slots-head">Shadow Slots</h1>
<!-- <div class="container"> -->
  <div class="row">
    <div class="col col-12 col-lg-2">
      Physician
    </div>
    <div class="col col-12 col-lg-2">
      Date
    </div>
    <div class="col col-12 col-lg-2">
      Time
    </div>
    <div class="col col-12 col-lg-2">
      Location
    </div>
    <div class="col col-12 col-lg-2">
      Notes
    </div>
    <div class="col col-12 col-lg-2">
      Matched?
    </div>
  </div>
<hr>
<% slots.forEach(function(slot){ %>

<div class="row">
      <div class="col col-12 col-lg-2">
        <%= slot.physName %>, <%=slot.physSpecialty %>
      </div>
      <div class="col col-12 col-lg-2">
        <%= slot.dDate %>
      </div>
      <div class="col col-12 col-lg-2">
        <%= slot.dTime %>
      </div>
      <div class="col col-12 col-lg-2">
        <%= slot.location %>
      </div>
      <div class="col col-12 col-lg-2">
        <%= slot.notes %>
      </div>
      <div class="col col-12 col-lg-2">
        <% if (slot.studentEmail){ %>
          <%=slot.studentName%> , <%=slot.studentEmail %>
        <% } else { %>
          -
        <% } %>
      </div>
    </div>

<hr />
<% }); %>
</div>

<%- include("./partials/footer"); -%>
