<%- include("./partials/header"); -%>
<div id="view-shadow-slots">
  <% if(errM){%>
    <div class="alert alert-success">
      <h6 class="mb-0"><%=errM%>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </h6>
    </div>
  <%}%>
<% if(matchingLocked == false){ %>
  <h1>Your Matches</h1>
  <% var count = 0 %>
  <% slots.forEach(function(slot){ %>
    <% if(slot.studentEmail && slot.studentEmail == user.email){%>
      <% count++; %>
      <hr />
      <div class="row">
        <div class="col col-lg-12">
          <%= slot.physName %>, <%=slot.physSpecialty %> <br />
          <%= slot.dDate %>, <%= slot.timeStart %> to <%= slot.timeEnd %> <br />
          <%= slot.location %> <br />
          <% if(slot.notes){ %>
          <p class="italics">  Notes: <%= slot.notes %><br /></p>
          <% }%>
        </div>
      </div>
    <% } %>

  <% }) %>
  <hr />
  <br /><br />
  <h4>Your matches are locked at this time. If you have any questions or concerns, please contact apolloyimde@gmail.com.</h4>

<% } else { %>
<h1>Your Matches</h1>
<% var count = 0 %>
<% slots.forEach(function(slot){ %>
  <% if(slot.studentEmail && slot.studentEmail == user.email){%>
    <% count++; %>
    <hr />
    <div class="row">
      <div class="col-12 col-md-9">
        <%= slot.physName %>, <%=slot.physSpecialty %> <br />
        <%= slot.dDate %>, <%= slot.timeStart %> to <%= slot.timeEnd %> <br />
        <%= slot.location %> <br />
        <% if(slot.notes){ %>
        <p class="italics">  Notes: <%= slot.notes %><br /></p>
        <% }%>
      </div>
      <div class="col-12 col-md-3">
        <form action="/unclaim" method="post">
          <input type="hidden" name="userEmail" value="<%=user.email%>">
          <input type="hidden" name="slotId" value="<%=slot._id%>">
          <br/>
          <button type="submit" name="button" class="btn">Remove</button>
        </form>
      </div>
    </div>
  <% } %>

<% }) %>
<hr /><br />
<% if(count<maxSlots){ %>
<h4>*You may claim an unlimited number of slots at this time. Your matches listed above are saved and Apollo will confirm your slots via email after October 24.</h4>

<!-- <h4>*You may add up to <%=(maxSlots-count)%> more match(es) at this time. Your current matches are saved and Apollo will confirm your slots via email.</h4> -->
<% } else {%>
<h4>*You have the maximum number of matches at this time. Your matches are saved and Apollo will confirm your slots via email after October 24.</h4>
<% }%>
<!-- <h4>You may pick up to 1 slot at this time. Any matches listed above are saved and Apollo will confirm your slots via email before June 28.</h4> -->
<br /><br /><br /><br />




<h1>Shadow Slots</h1><br/>
<!-- <p>Please remember, all slots currently listed below fall under the category of Primary Care. More specialty slots will be available starting Wednesday, 10/20.</p><br/><br/> -->
<!-- <div class="container"> -->
  <div class="row chart-titles">
    <div class="col col-12 col-lg-2">
      Physician
    </div>
    <div class="col col-12 col-lg-2">
      Date
    </div>
    <div class="col col-12 col-lg-2">
      Time
    </div>
    <div class="col col-12 col-lg-2">
      Location
    </div>
    <div class="col col-12 col-lg-2">
      Notes
    </div>
    <div class="col col-12 col-lg-2">
      Matched?
    </div>
  </div>
<hr>
<% slots.forEach(function(slot){ %>

<div class="row">
      <div class="col col-12 col-lg-2">
        <%= slot.physName %>, <%=slot.physSpecialty %>
      </div>
      <div class="col col-12 col-lg-2">
        <%= slot.dDate %>
      </div>
      <div class="col col-12 col-lg-2">
       <%= slot.timeStart %> to <%= slot.timeEnd %>
      </div>
      <div class="col col-12 col-lg-2">
        <%= slot.location %>
      </div>
      <div class="col col-12 col-lg-2">
        <%= slot.notes %>
      </div>
      <div class="col col-12 col-lg-2">
        <% var btnProp = null; %>
        <% count >= maxSlots ? btnProp = "disabled" : null %>

        <% if (slot.studentEmail) { %>
          <% if (slot.studentEmail.length>0) { %>
          <p class="italics">Filled</p>
          <% } %>
        <% } else { %>
            <form class="" action="/claim" method="post">
              <input type="hidden" name="userFName" value="<%=user.fName%>">
              <input type="hidden" name="userLName" value="<%=user.lName%>">
              <input type="hidden" name="userEmail" value="<%=user.email%>">
              <input type="hidden" name="slotId" value="<%=slot._id%>">
              <button type="submit" name="button" class="btn <%=btnProp%>" <%=btnProp%>>Match</button>
            </form>
          <% } %>

      </div>
    </div>

<hr />
<% }) %>
<% } %>
</div>


<%- include("./partials/footer"); -%>
