<%- include("./partials/header"); -%>

<h1>Home</h1>

<h2>(Student View) Shadow Slots</h2>
<div class="container">
  <div class="row">
    <div class="col col-12 col-lg-2">
      Physician Name
    </div>
    <div class="col col-12 col-lg-2">
      Date
    </div>
    <div class="col col-12 col-lg-2">
      Time
    </div>
    <div class="col col-12 col-lg-2">
      Location
    </div>
    <div class="col col-12 col-lg-2">
      Notes
    </div>
    <div class="col col-12 col-lg-2">
      Claim
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <% slots.forEach(function(slot){ %>
      <div class="col col-12 col-lg-2">
        <%= slot.physName %>, <%= slot.physSpecialty %>
      </div>
      <div class="col col-12 col-lg-2">
        <%= slot.date %>
      </div>
      <div class="col col-12 col-lg-2">
        <%= slot.timeStart %> to <%= slot.timeEnd %>
      </div>
      <div class="col col-12 col-lg-2">
        <%= slot.location %>
      </div>
      <div class="col col-12 col-lg-2">
        <%= slot.notes %>
      </div>
      <div class="col col-12 col-lg-2">
        <% if (slot.studentEmail) { %>
          Claimed
        <% } else { %>
            <form class="" action="/claim" method="post">
              <input type="hidden" name="user" value="<%=user%>">
              <button type="submit" name="button" class="btn">Claim</button>
            </form>
          <% } %>

      </div>
    <% }) %>
  </div>
</div>


<%- include("./partials/footer"); -%>
